* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
ul li a{
    color: black;
}
/*section1*/
.txt1{
    font-weight: normal;
    margin-left: 7%!important;
    margin-top:8%!important;
}
.txt2{
    margin-top:6%!important;
    font-weight: normal;
}
.col2{
    border:2px solid black;
    height: 260px;
    margin-bottom: 6%!important;
    margin-left: 15%!important;

}
.col3{
    border:2px solid black;
    height: 260px;
    margin-bottom: 6%!important;  
     margin-left: 3%!important;

}
.icon1{
    margin-top:8%!important;
    font-size: 35px!important;
}
@media (min-width:680px) and (max-width:768px){
    .col2,.col3{  margin-left: 3%!important;
    }
  
}
@media (min-width:320px) and (max-width:680px){
    .col2,.col3
    {  
        margin-left: 0%!important;
    }
  
}
/*section2*/
.form1{
    width:72%!important;
    margin-left: 14%;
}
/*section4*/
.group{
    position: relative;
}
.check{
    position: absolute;
    left: 15%;
    top:33%;
}
.input1{
    width:72%!important;
    margin-left: 14%;
    padding-left: 25px;
}
/* .input1::placeholder{
    padding-left: 20px;
} */
/*section5*/
.btn{
    border: 2px solid black;
}
