* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/*section1*/
.icon1{
    font-size: 20px;
}
/*section2*/
.sec1{
    border:1px solid gray;
}
.icon2{
font-size: 80px;
}

/*section4*/
.sec4,.sec6{
    border:1px solid gray;
}
.txt{
    text-align: justify;
}

/*section5*/
.col{
    border:1px solid gray;
}
.image1{
    width: 45%;
}
.col1{
    border:1px solid gray;
}
.image2{
    width: 45%;
}
.span1{
position: absolute;
top:8%;
left: 48%;
}
.span2{
    position: absolute;
    top:34%;
    left:50%;
    font-weight:normal;
    
}
.btn1{
    position: absolute;
    top:70%;
    left:48%;
   
}
.btn2{
    position: absolute;
    top:62%;
    left:48%;
   
}
/*section5*/
.col,.col1{
    height:280px;
}
/*section6*/
.img1{
    width:70%;
}

/*section7*/
.txt1{
    font-weight: normal;
}

/*section8*/
.txt3{
    font-weight: normal;
}


@media (min-width:100px) and (max-width:300px){
    
        .col{
            height: 380px;
            }
            .col1{
                height: 380px;
            }
            .span1{
                position: absolute;
                top:8%;
                left: 40%;
                }
            .span2{
                position: absolute;
                top:42%;
                left:50%;
                font-weight:normal;
                
            }
            .btn1{
                position: absolute;
                top:88%;
                left:46%;
               
            }
            .btn2{
                position: absolute;
                top:78%;
                left:46%;
               
            }
            .img{
                width:90%;
            }
            .img1{
                width:90%;
            }
}
