* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: skyblue;
    padding-top: 20px;
  }
  
  
.wrapper{
    position: absolute;
    top:10%;
    left: 0%;
    
}
ul{
    list-style:none;
}
ul li{
    width:50px;
    height:50px;
    position: relative;
    background: skyblue;
    margin: 10px 0;
    cursor: pointer;
}
 .slider{
      position: absolute;
      top: 0%;
      left:50px;
      width:10px;
      height: 50px;
      background: skyblue;
      transition:all 0.5s ;
  }
.slider a{
    text-align: center;
    font-size:16px;
    line-height: 50px;
    color:white;
    transition:all 0.5s ease;
    opacity:0;
}

ul li .ficon{
    position: absolute;
    top:20%;
    left:4%;
    color:white;
    font-size: 40px;

}
  ul li:hover .slider{
      width:114px;
    transition:all 0.8s ease ;
  }

  ul li:hover .slider  a{
    opacity:1 ; 
    transition:all 1s 0.3s ease ;
  }

  
  
  @media (min-width:320px) and (max-width: 700px) {
    .sidenav{
        width:25px;
    }
   ul li .ficon{
        font-size:20px;
    }
    .slider{
        width: 0px;
    }
    ul li{
        width:20px;
    }
  }
  
/*section1*/
.sec1, .sec4, .sec5, .sec6, .sec8
{
    margin-left: 45px;
}
.stu{
    background-color: white;
}
.icon1{
    font-size: 20px;
}
/*section2*/
.sec1, .sec4, .sec6{
    border:1px solid gray;
}
.icon2{
font-size: 80px;
}
.txt{
    text-align: justify;
}

/*section5*/
.col{
    border:1px solid gray;
}
.image1{
    width: 45%;
}
.col1{
    border:1px solid gray;
}
.image2{
    width: 45%;
}
.span1{
position: absolute;
top:8%;
left: 48%;
}
.span2{
    position: absolute;
    top:34%;
    left:50%;
    font-weight:normal;
    
}
.btn1{
    position: absolute;
    top:70%;
    left:48%;
   
}
.btn2{
    position: absolute;
    top:62%;
    left:48%;
   
}
/*section5*/
.col,.col1{
    height:280px;
}
/*section6*/
.img1{
    width:70%;
}

/*section7*/
.txt1{
    font-weight: normal;
}

/*section8*/
.txt3{
    font-weight: normal;
}


@media (min-width:320px) and (max-width:380px){
   .img{
       width:90%;
       margin-right:3%;
   } 
        
}
