* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow-x: hidden;
}

.navbar .navbar-brand{
    color: rgb(55, 55, 116);
    margin-left: 30px!important;
}

button{
    margin-left: 30px;
    /* color:blue!important;
    border: 2px solid rgb(89, 89, 155)!important; */
}

p{
    margin-top: 30px;
}

/* form */
.control{
    position: relative;
}
.radio1, .radio2, .radio3, .radio4{
    position: absolute;
    top:33%;
    left:4%;
    }
::placeholder{
    padding-left: 6% !important;
    }