.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: unset !important;
    /* width: 100%; */
}
.btn1{
    margin-top: 45px;
    border: 1px solid transparent;
    background-image: linear-gradient(to left, #5c82ab 0%,#71bdaf 51%,#5c82ab 100%);
    display: inline-block;
    padding: 13.5px 45px;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid transparent;
}  
    /* .col-md-3:hover{
    border:1.5px solid #5c82ab;
  }
  .col-md-3:hover far fa-clone,fas fa-book-reader,far fa-bell{
    transform:scale(1.2);
  }
  .carousel-caption{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
.col-md-8{
 background-color: rgb(203, 250, 250);
}
.col-md-4{
 background-color: rgb(203, 250, 250);
}

.img{
 height: 50%;
 width: 200px;
 
}

.content-c
{
	position: relative;
    font-size: 35px;
    font-weight: 200;
    color: #232c3b;
    text-align: center;
    font-family: Open Sans,sans-serif;
}

.content-p1
{
	position: relative;
	font-size: 17px;
    font-weight: 200;
    color: #232c3b;
    text-align: center;
    line-height: 31px;
    font-family: Open Sans,sans-serif;
}

.i5
{
	font-size: 30px;
}

.top-img img
{
display: block;
width: 100%;	
}

.right-img img
{

display: block;
width: 100%;
}

.left-img img
{

display: block;
width: 100%;
}

.left-content
{
	background-color: #f4f4f4;
    
    text-align: center;
   
   height: 100%;
   
    align-items: center;
    
    justify-content: center;
}
.section-title
{margin-bottom: 16px;
    font-size: 28px;
    width: 100%;
    top: 107px;
    position: relative;
}
.section-content
{
	position: relative;
	top:30px;
	padding:20px;
	text-align: center;
}
.button-team
{
	color: #fff;
    background-image: linear-gradient(to left, #5c82ab 0%,#71bdaf 51%,#5c82ab 100%);
    border-color: #ec5252;
   
    display: inline-block;
    margin-top: 25px;
    padding: 12px 35px;
    border-radius: 2px;
    font-weight: 600;

}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.staff-content-1
{
	height:100%;
	background: linear-gradient(26deg,#1a263a 33%,#4a8394 84%,#6ac1d0);
	text-align: center;
	font-weight: 300;
}

.staff-content-2
{

	height:100%;
	background: linear-gradient(26deg,#1a263a 33%,#4a8394 84%,#6ac1d0);
	text-align: center;
	font-weight: 300;
}
.p_box__title
{
	color: #f5c252;
    margin: 0;
    font-size: 28px;
    padding-top: 10%;
    margin-bottom: 18px;
}
.p_box__copy
{
	color: #fff;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 8%;
}
.p_box__title-1
{
	color: #f5c252;
    margin: 0;
    font-size: 28px;
    padding-top: 10%;
    margin-bottom: 18px;
}
.p_box__copy-1
{
	color: #fff;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 8%;
}
.staff-img img
{
	display: block;
	width: 100%;
}

.staff-img-1 img
{
	display: block;
	width: 100%;
}

.con-fu
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

@media only screen and (max-width: 768px) 
{
  .left-content
  {
  	margin-bottom: 20px;
  }
  .section-title
{
	margin-bottom: 0px;
    font-size: 28px;
    width: 100%;
    top: 30px;
    position: relative;
}  

.button-team
{
	margin-top: 16px;
}
.section-content
{
	top:0px;
	padding: 0px;
	position: relative;
}
.p_box__title-1
{
	padding-top: 0px;
	font-size: 23px;
}
.p_box__copy-1
{
	font-size: 12px;
}
.p_box__title
{
	padding-top: 0px;
	font-size: 23px;
}
.p_box__copy
{
	font-size: 12px;
}


}

@media only screen and (max-width: 1024px) 
{
 
}
  

