/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.dropdown-toggle {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

.profile_dropdown {
    top: 160%;
    left: unset;
    right: -16px;
}
/* for first section */
#first-section{
    height:150px;
}
.text-white{
    display:flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
/* for second section */
#cart-inner{
    border:1px solid black;
}
#icon{
    margin-top: 30px;
    font-size: 150px;
}

.para{
    text-align: center;
} 
#keep_button{
    /* margin-left: 350px; */
    margin-bottom: 30px;
}
/* for third section*/
/* for left side*/
#third-section{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
/* for right section */

