.container-fluid
        {
            padding-left: unset !important;
            padding-right: unset !important;
        }
.second-inner{
    margin-left:90px;
    margin-top: 10px;
    margin-right: 90px;
}
#para{
    font-size: 13px;
}

/* third section */
.third-inner{
    margin-left:90px;
    margin-top: 10px;
    margin-right: 90px;
}
#heading{
    border:1px solid black !important;
}
#forth-section{
    border: 1px solid black !important;
    margin-bottom: 20px;
}
.forth-inner{
    margin-bottom: 20px;
}
.btn{
    display: flex;
    justify-content: space-around;
}


