/* For Menu */

.navbar {
    background: linear-gradient(#5c82ab, #71bdaf);
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.dropdown-toggle {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: skyblue !important;
}

form input {
    border: unset;
    margin-top: 10px;
}

.search-bar {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 15px;
    right: 13px;
}

.login .nav-link:hover {
    background: skyblue !important;
    color: black !important;
}

.profile_dropdown {
    top: 160%;
    left: unset;
    right: -16px;
}
/* Columns */
.col-md-12 {
    margin-bottom: 20px;
}

.page_heading {
    height: 150px;
    background: cornflowerblue;
    margin-top: 56px;
}

h1{
    color: white;
    margin-top: 2%;
    padding-left: 5%;
}

p{
    color: white;
    padding-left: 5%;
}


.col-md-4 p{
    color: black;
}

.card {
    min-height: 350px;
    margin-bottom: 5%;
}

.col-md-4 .card-img-top{
    min-height: 200px;
    width: 100%;
}